/* EmailSimulator.css */
.email-simulator {
    border: 1px solid #ccc;
    max-width: 1000px; /* 放大组件 */
    margin: 50px auto; /* 向下移动组件 */
    background-color: #f8f9fa;
    padding: 20px; /* 增加内边距 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    line-height: 2;
  }
  
  .email-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .email-list-item {
    padding: 20px; /* 增加内边距 */
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .email-list-item:hover {
    background-color: #e9ecef;
  }
  
  .email-content {
    padding: 20px;
  }
  
  .btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #0069d9;
  }
  
  .start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
  }

  .payment-form {
    padding: 20px;

    
  }
  
  .form-group {
    margin-bottom: 16px;

  }
  
  .form-label {
    display: block;
    margin-bottom: 8px;

  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;

  }
  
  .email-content {
    padding: 16px;
  }
  
  .content-spacing {
    padding: 32px;
  }
  
  .payment-form {
    padding: 16px;
  }

  .rightItem {
    color: black;
    margin-left: auto;
  }
.pageNav {
  margin-Bottom: 0px !important;
}
.nav-link.active {
  background-color: white !important;
  color: #0069d9 !important;
  border-bottom: 5px solid blue !important;
}

.a .list-group-item{
  margin-right: 5px !important;
}

.email-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f1f1f1;
}

.email-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.email-header h1 {
  font-size: 24px;
  font-weight: 600;
}

.email-header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #888;
}

.email-body {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
}

.email-body h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.email-body p {
  margin-bottom: 15px;
  line-height: 1.5;
}


.alert {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.startPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.instructions {
  margin-bottom: 30px;
}
p {
  display: block;
  margin-bottom: 10px;
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #3f51b5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #2c3e50;
}


