<!DOCTYPE html><html><head>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
  <link href="/public/stylesheets/style.css" rel="stylesheet"/>
  <title>Document</title>
</head>
<body>
<p1>Main Page</p1>
<ul>
  <% result.forEach(function(item) { %>
    <li><%= item.name %></li>
  <% }); %>
</ul>
</body>
</html>