ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E0F0DF;
  }
  
  li {
    float: none;
    display: inline-block;
    border-right:1px solid #000000;
    text-align: left;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #fdd301;
  }
  
  .active {
    background-color: #fdd301;
  }