.background{
    position: relative;
    background-color: white;
    /* background-color: var(--color-honeydew); */
    width: 100%;
    /* height: 1600px; */
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-sm);
    /* color: var(--color-darkslateblue-100); */
    color: white;
    font-family: var(--font-abeezee);
  
    /* background-image: url("../../public/pexels-mockupeditorcom-205316.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}
  
/*  */
.cardStyle{
    /* height: 40%!important; */
    /* width: 38vw!important; */
    width: 40%!important;

  position:'fixed';
  top:'20%';
  display:'fixed'

}

.contentCard {
    position: fixed;
    transition: opacity 0.3s ease-in-out;
    top:20%!important; 	/*  This is important  */
    display: flex;
    justify-content: center;
    width: 100vw;

}
  
.content.hidden {
    opacity: 0;
}
.card{
    height: 350px;
    position: absolute;
    top: 20%;
    left: 28%;
    width: 40vw;
}
.card-body {
    /* margin-top: 7%; */
    padding: 1rem 1.2rem;
    /* background-color: white; */
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80%;
    /* padding-left: 1rem; */
    position: absolute;
    /* top: 20%; */
}
.card-header {
    border-bottom: 1px solid #f6f6f6;
    padding: 1rem 1.2rem;
    background-color: #fbf8f8;
    text-align: center;
  }

@media screen and (max-width: 820px) {
    .card {
        height: 350px;
        position: absolute;
        top: 24%;
        left: 20%;
    }
    .cardStyle {
        /* height: 40%!important; */
        width: 56vw!important;
        /* position: 'fixed';
        top: '20%';
        display: 'fixed'; */
    }
}

.PasswordCheck {
    position: absolute; /* 将元素设置为固定定位 */
    top: 41%; /* 将元素的顶部定位到页面垂直中心 */
    left: 48%; /* 将元素的左侧定位到页面水平中心 */
    transform: translate(-50%, -50%); /* 使用translate将元素向左和向上移动一半的宽度和高度，以使其完全居中 */
    
    height: 205px;
    width: 600px;
    align-items: flex-start;
    mix-blend-mode: normal;
    text-align: center;
  }
  .pswchecker{
    margin-top: 10%;
    width: 35%;
    /* padding-top: 30px; */
    /* margin-left: 7%; */
    margin-bottom: 3%;
  
   
  }

.showResult{
    color: black;
    overflow: auto;
    height: 100px;
    width: 100%;
}

/* 适配Pad设备 */
@media (min-width: 768px) and (max-width: 1024px) {
    /* 在这里写需要适配Pad设备的样式 */

    .card {
        height: 350px;
        position: absolute;
        top: 24%;
        left: 20%;
    }
    .cardStyle {
        /* height: 40%!important; */
        width: 56vw!important;
        /* position: 'fixed';
        top: '20%';
        display: 'fixed'; */
    }
}
  
  /* 适配移动设备(H5) */
@media (max-width: 767px) {
    /* 在这里写需要适配移动设备的样式 */
    .card {
        height: 350px;
        position: absolute;
        top: 24%;
        left: 3%;
        width: 80%!important; /* 这里使用important选择性地强制使之在最上面 */
    }
    .cardStyle {
        /* height: 40%!important; */
        width: 90vw!important;
        /* position: 'fixed';
        top: '20%';
        display: 'fixed'; */
    }
    .buttonsecondary1{
        width: 30%;
        font-size: small;
    }
}

/* .showResult{
    color: black;
    overflow: auto;
    height: 100px;
} */