.quizCount {
  position: absolute;
  top: 15%;
  left: 45vw;
  /* left: 925px; */
  font-size: 31px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 378px; */
  width: 20vw;
  height: 76px;
}
.detailedquiz-child {
  position: absolute;
  /* top: 50%; */
  /* left: 0; */
  border-radius: 13px;
  background-color: #f5f5f5;
  width: 1229px;
  height: 724px;
  font-family: var(--font-poppins);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.QuizTitle {
  margin: 0;
  font-size: x-large;
}
.QuizContainer {
  line-break: anywhere;
  width: 100%;
}
.QuizContainer {
  /* position: absolute;
  top: 160px;
  left: 102px;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 1002px;
  height: 174px; */
  position: absolute;
    top: 160px;
    left: 10vw;
    font-size: var(--font-size-17xl);
    font-weight: 800;
    display: flex;
    align-items: center;
    width: 80vw;
    height: 174px;
}


.quiz-options {
  position: absolute;
  top: 347px;
  left: 10vw;
  /* left: 140px; */
  font-weight: 800;
  color: rgba(19, 78, 111, 0.63);
  text-align: left;
}

.quizOptionsList {
  position: absolute;
  top: 410px;
  /* left: 178px; */
  left: 10vw;
  font-weight: 300;
  text-align: left;
  display: table-column;
  align-items: center;
  width: 992px;
  height: 32px;
  gap: var(--gap-28xl);
  
}

.next,
.nextbutton,
.submit,
.submitbutton {
  position: absolute;
  top: 677px;
  height: 55px;
}

.next,
.nextbutton {
    left: 50vw;
    top: 60vh;
    width: 200px;
    cursor: pointer;
}
.nextbutton {
  border-radius: var(--br-3xs);
  background-color: var(--color-orange);
}
.next > p{
  font-size: var(--font-size-17xl);
  font-weight: 900;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top:20%;
}
.detailedquiz {
  position: sticky;
  /* top: 88px; */
  left: 18vw;
  /* width: 100%;
  height: 100%; */
  width: 1303px;
  height: 800px;
  text-align: center;
  font-size: var(--font-size-5xl);
}

.quiz-detail {
  position: relative;
  background-color: var(--color-honeydew);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
/* Add styles for recommended articles */
.recommended-article {
  font-size: 1.1em;
  margin-top: 1em;
  text-align: left; /* Add this to align text to the left */
}

.recommended-article a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.2s;
  background-color: #f8f9fa; /* Add this to set a background color */
  padding: 2px 4px; /* Add this to add some padding around the text */
  border-radius: 4px; /* Add this to create rounded corners */
}

.recommended-article a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.recommended-article-title {
  font-weight: bold;
}

.resultImage{
  width: 60%;
  height: 60%;
}
.resultDetail{
  font-family: var(--font-poppins);
}

@media screen and (max-width: 1196px) {
  .detailedquiz-child {
    position: absolute;
    border-radius: 13px;
    background-color: transparent;
    width: 80%;
    height: 80%;
    font-family: var(--font-poppins);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .detailedquiz {
    position: sticky;
    /* top: 88px; */
    left: 0vw;
    /* left: 18vw; */
    width: 100vw;
    height: 800px;
    text-align: center;
    font-size: var(--font-size-5xl);
  }
  .quizOptionsList {
    position: absolute;
    top: 410px;
    /* left: 178px; */
    left: 10vw;
    font-size: medium;
    text-align: left;
    display: table-column;
    align-items: center;
    width: 80%;
    height: 32px;
    gap: var(--gap-28xl);
    
  }
  
}

@media screen and (max-width: 800px) and (max-height: 896px) {
  .next, .nextbutton {
    left: 33vw;
    top: 78vh;
    width: 200px;
    cursor: pointer;
}

.detailedquiz-child {
  position: absolute;
  border-radius: 13px;
  background-color: transparent;
  width: 80%;
  height: 80%;
  font-family: var(--font-poppins);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.detailedquiz {
  position: sticky;
  /* top: 88px; */
  left: 0vw;
  /* left: 18vw; */
  width: 100vw;
  height: 800px;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.quizOptionsList {
  position: absolute;
  top: 410px;
  /* left: 178px; */
  left: 10vw;
  font-size: medium;
  text-align: left;
  display: table-column;
  align-items: center;
  width: 80%;
  height: 32px;
  gap: var(--gap-28xl);
  
}




}