.quizimagegroup-icon {
  position: absolute;
  width: 78.68%;
  top: 145px;
  right: 8.61%;
  left: 12.71%;
  max-width: 100%;
  overflow: hidden;
  height: 315px;
  object-fit: cover;
}
.about-us2 {
  color: var(--color-darkslateblue-100);
}
.about-us2,
.how-are-we2 {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.about-us-container,
.domo2 {
  position: absolute;
  display: flex;
}
.about-us-container {
  top: 29.88px;
  right: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.domo2 {
  top: 0;
  right: 175.48px;
  font-size: var(--font-size-xs);
  letter-spacing: 1px;
  line-height: 100%;
  text-transform: uppercase;
  font-family: var(--font-abeezee);
  color: var(--color-lightsteelblue);
  align-items: center;
  width: 43.04px;
  height: 6.9px;
}
.frame-parent11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 218.52px;
  height: 219.88px;
}
.resources2 {
  position: absolute;
  top: 0;
  right: 20.97px;
  font-size: var(--font-size-xs);
  letter-spacing: 1px;
  line-height: 100%;
  text-transform: uppercase;
  display: flex;
  font-family: var(--font-abeezee);
  color: var(--color-lightsteelblue);
  align-items: center;
  width: 80.57px;
  height: 6.9px;
}
.frame-parent12 {
  position: absolute;
  top: 0;
  left: 636.81px;
  width: 101.54px;
  height: 131.88px;
}
.support2 {
  position: absolute;
  top: 0;
  right: 64.01px;
  font-size: var(--font-size-xs);
  letter-spacing: 1px;
  line-height: 100%;
  text-transform: uppercase;
  display: flex;
  font-family: var(--font-abeezee);
  color: var(--color-lightsteelblue);
  align-items: center;
  width: 62.91px;
  height: 6.9px;
}
.frame-parent13 {
  position: absolute;
  top: 0;
  left: 825.54px;
  width: 126.92px;
  height: 131.88px;
}
.spear-st-floor-container2 {
  position: relative;
  line-height: 160%;
}
.spear-st-floor-4-san-francisc-frame {
  position: absolute;
  top: 29.88px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact2 {
  position: absolute;
  top: 0;
  right: 121.4px;
  font-size: var(--font-size-xs);
  letter-spacing: 1px;
  line-height: 100%;
  text-transform: uppercase;
  display: flex;
  font-family: var(--font-abeezee);
  color: var(--color-lightsteelblue);
  align-items: center;
  width: 62.91px;
  height: 6.9px;
}
.frame-parent14 {
  position: absolute;
  top: 0;
  left: 1040.75px;
  width: 184.31px;
  height: 73.88px;
}
.products2 {
  position: relative;
  letter-spacing: 1px;
  line-height: 100%;
  text-transform: uppercase;
}
.products-container,
.workforce-management-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-sm);
  color: var(--color-steelblue-200);
  font-family: var(--font-montserrat);
}
.products-container {
  position: absolute;
  top: 0;
  right: 675.99px;
  gap: var(--gap-21xl);
  font-size: var(--font-size-xs);
  color: var(--color-lightsteelblue);
  font-family: var(--font-abeezee);
}
.frame-parent10 {
  position: relative;
  width: 1225.06px;
  height: 242px;
  flex-shrink: 0;
}
.copyright-2023-all2 {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 100%;
  display: flex;
  align-items: center;
  width: 252.74px;
  height: 6.9px;
}
.frame-inner {
  position: absolute;
  top: 3.45px;
  right: -971.22px;
  width: 145.68px;
  height: 13.79px;
  display: none;
}
.copyright-2023-all-rights-res-container {
  position: relative;
  width: 252.74px;
  height: 6.9px;
  flex-shrink: 0;
  font-size: var(--font-size-xs);
}
.footer2,
.frame-parent9 {
  width: 1225.06px;
  display: flex;
  flex-direction: column;
}
.frame-parent9 {
  height: 296.55px;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-28xl);
}
.footer2 {
  position: absolute;
  top: 1265px;
  left: 125px;
  align-items: center;
  justify-content: center;
  color: var(--color-steelblue-200);
  font-family: var(--font-montserrat);
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 11.98px;
  background-color: var(--color-white);
  box-shadow: 0 5.989013195037842px 15.97px 2px #ededed;
  width: 462px;
  height: 505px;
}
.this-quiz-consists {
  margin: 0;
}
.content-txt {
  line-break: anywhere;
  width: 100%;
}
.content1 {
  top: 328px;
  left: 36px;
  font-size: var(--font-size-xs);
  width: 412.04px;
  height: 77.46px;
}
.content1,
.date,
.points,
.time-limit,
.title1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.title1 {
  top: 2px;
  left: 25px;
  font-size: var(--font-size-sm);
  line-height: 110%;
  width: 194px;
  height: 20px;
}
.date,
.points,
.time-limit {
  top: 155px;
  left: 325px;
  font-weight: 600;
  width: 50.31px;
  height: 13.97px;
}
.date,
.time-limit {
  top: 123px;
}
.date {
  top: 87px;
  width: 24.75px;
}
.button-icon {
  position: absolute;
  top: 461px;
  left: 337px;
  border-radius: 11.98px;
  width: 84.64px;
  height: 25.55px;
  cursor: pointer;
}
.instructions {
  position: absolute;
  top: 242px;
  left: 36px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 86px;
}
.quizcardimage2-icon {
  position: absolute;
  top: 47px;
  left: 25px;
  width: 234px;
  height: 159.95px;
  object-fit: cover;
}
.start {
  position: absolute;
  top: 460px;
  left: 346px;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 27px;
  cursor: pointer;
}
.quizcard2 {
  position: absolute;
  top: 536px;
  /* padding-left: 40%; */
  right: 20%;
  width: 462px;
  height: 505px;
  font-size: 9.18px;
}
.date1,
.instructions1,
.points1,
.time-limit1 {
  position: absolute;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.instructions1 {
  top: 242px;
  left: 25px;
  font-size: var(--font-size-sm);
  width: 86px;
}
.date1,
.points1,
.time-limit1 {
  top: 158px;
  left: 297px;
  width: 50.31px;
  height: 13.97px;
}
.date1,
.time-limit1 {
  top: 126px;
}
.date1 {
  top: 90px;
}
.button-icon1 {
  position: absolute;
  top: 464px;
  left: 336px;
  border-radius: 11.98px;
  width: 84.64px;
  height: 25.55px;
  cursor: pointer;
}
.content2,
.start1,
.title2 {
  position: absolute;
  display: flex;
  align-items: center;
}
.start1 {
  top: 467px;
  left: 346px;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  justify-content: center;
  width: 65px;
  height: 18px;
}
.content2,
.title2 {
  top: 331px;
  left: 25px;
  font-size: var(--font-size-xs);
  width: 412.04px;
  height: 77.46px;
}
.title2 {
  top: 5px;
  left: 28px;
  font-size: var(--font-size-sm);
  line-height: 110%;
  width: 146px;
  height: 20px;
}
.quizcardimage1-icon {
  position: absolute;
  top: 49px;
  left: 28px;
  width: 234px;
  height: 162px;
  object-fit: cover;
}
.start2 {
  position: absolute;
  top: 467px;
  left: 346px;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 18px;
  cursor: pointer;
}
.quizcard1 {
  position: absolute;
  top: 533px;
  left: 20%;
  width: 462px;
  height: 505px;
  font-size: 9.18px;
}
.home3,
.quiz4 {
  position: relative;
  line-height: 100%;
  cursor: pointer;
}
.quiz4 {
  display: flex;
  color: var(--color-gray-300);
  align-items: center;
  width: 56px;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.header3 {
  position: absolute;
  top: 50px;
  left: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  color: var(--color-slategray);
  font-family: var(--font-abeezee);
}
.quiz3 {
  position: relative;
  background-color: var(--color-honeydew);
  width: 100%;
  height: 1600px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray);
  font-family: var(--font-poppins);
}
