/* .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
   */

   
.card {
    width: 25rem;
    background-color: #fff;
    border-radius: 1rem;
    border: 2px solid #f6f6f6;
    overflow: hidden;
    margin: 0 0.5rem;
  }
  
  .card-header {
    border-bottom: 1px solid #f6f6f6;
    padding: 1rem 1.2rem;
    background-color: #fbfbfb;
    text-align: center;
  }
  
  .card-body-psw{
    padding: 1rem 1.2rem;
    background-color: white;
    margin-top: 10%;
  }
  
  .input-container {
    border-radius: 0.5rem;
    border: 1px solid #f3f3f3;
    overflow: hidden;
  }
  
  .input {
    width: 80%;
    font-size: 1rem;
    letter-spacing: 0.08rem;
    outline: none;
    border: none;
    padding: 0.8rem 0.3rem;
    background-color: transparent;
  }
  
  .input::placeholder {
    color: #b8bac5;
    font-size: 0.9rem;
    font-family: "DM Sans", sans-serif;
  }
  
  .input-box {
    display: flex;
    align-items: center;
    padding: 0.2rem 1rem;
    position: relative;
  }
  
  .progress-bg {
    width: 100%;
    height: 0.25rem;
    background-color: #fbfbfb;
    border-radius: 0 0 0.2rem 0.2rem;
    position: relative;
  }
  
  .progress {
    width: 0%;
    height: 0.25rem;
    position: absolute;
    border-radius: 0 0 0.2rem 0.2rem;
    transition: all 0.5s ease-out;
  }
  
  .toggle-btn {
    text-decoration: none;
    color: #c3c3c3;
    margin-top: 0.5rem;
  }
  
  .message {
    font-size: 0.7rem;
    font-weight: 500;
    margin-top: 0.8rem;
    letter-spacing: 0.05rem;
    color: #ff6837;
    text-align: center;
  }